.body{
    background-color: #231F20;
    padding: 0;
    margin: 0;
}

.ProfilePicture{
    border-radius: 2rem;
    height: calc(257px / 1.5);
    width: calc(292px / 1.5);
    margin-top: 2.5rem;
}

a{
    text-decoration: none;
}

#IntroCapsuleHolder{
    width: 100%;
    height: auto;
    border-radius: 0rem;
    flex-direction: column;
    background: linear-gradient(180deg,#5e5255 10%,#40383a 60%,#231F20);
    gap: 0rem;
}

.BannerText{
    color: white;
    user-select: none;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 2px;
    font-size: 600%;
    margin-top: 1rem;
}

.HighlightText{
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: aliceblue;
    font-size: 250%;
    margin: 2rem 0px;
}

.DescriptiveText{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: aliceblue;
}

.Seperator{
    margin: 2rem 0rem;
    color: #40383a;
}

.CapsuleHolderParent{
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 0 auto;
}

.CapsuleHolderChild{
    display: flex;
    flex-direction: column;
    margin-right: 10%;
}

@media (max-width: 1200px){
    .CapsuleHolderChild {
        margin-right: 0px;
        align-self: center;
    }
    .CapsuleHolderParent{
        flex-direction: column;
        align-items: center;
    }
    .CapsuleHolder{
        flex-direction: column;
    }
    .Capsule{
        width: 16rem !important;
    }
    #ExperienceCapsuleHolder{
        flex-direction: column;
        width: 17rem !important;
        height: 17rem !important;
        margin: auto;
    }
}


.CapsuleHolder{
    display: flex;
    margin: auto;
    align-items: center;
    background-color: #40383a;
    border-radius: 1rem;
    justify-content: center;
    gap: 0.5rem;
}

.Capsule{
    display: flex;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    text-shadow: 0 0 10px black;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    height: 5rem;
    width: 8rem;
    background-color: aliceblue;
    transition: 0.1s;
    text-align: center;
}

.Capsule:hover{
    transform: skew(1deg, 1deg);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#PythonCapsule{
    background: linear-gradient(90deg, #269dff 0%,#26ccff 30%,#b8eeff 45%,#ffefb6 55%,#ffda56 70%,#ffc800 100%);
}

#GodotCapsule{
    background: radial-gradient(circle,#478cbf 0%,#55a7e6 40%,#0091ff 100%);
}

#CSharpCapsule{
    background: linear-gradient(135deg, #937ce6 0%,#5028d5 100%);
}

#LuaCapsule{
    background: linear-gradient(135deg, #00007d 0%,#2831d5 100%);
}

#ExperienceCapsuleHolder{
    width: 26rem;
    height: 6rem;
}

#LongCapsuleHolder{
    flex-direction: column;
    margin-top: 2rem;
    height: auto;
    width: 80%;
    gap: 0rem;
}

.LongCapsule{
    display: flex;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    border-radius: 1rem;
    height: auto;
    width: 98%;
    background-color: #262122;
}

.TitleText{
    padding-left: 1rem;
    margin-bottom: 0px;
    text-align:start;
    color: white;
    text-shadow: 0 0 5px white;
    transition: 0.5s;
}

.TitleText:hover{
    text-shadow: 0 0 10px white;
}

.LinkText{
  color: #ffd;
  text-decoration: #ffd wavy underline;
}

#GodotCapsuleText{
    color: black;
    text-shadow: 0 0;
    background: linear-gradient(90deg,#478cbf 0%,#55a7e6 20%,#0091ff 35%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#GodotCapsuleText:hover{
    text-shadow: 0 0 10px #4aa4e9;
}

#CSharpCapsuleText{
    color: black;
    text-shadow: 0 0;
    background: linear-gradient(90deg, #937ce6 0%,#5840aa 25%,#552ed6 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#CSharpCapsuleText:hover{
    text-shadow: 0 0 10px #573aba;
}

.DescriptionText{
    margin-top: 1rem;
    padding-left: 1rem;
    font-weight: 700;
    text-align:start;
    color: white;
    font-size: 24px;
}

.SocialDiv{
    text-align: center;
}

.SocialDiv > a{
    text-decoration: none;
}

#SocialMainText{
    display: flex;
    flex-direction: row;
}

#SocialTitle{
    padding-left: 0.75rem;
}

#SocialDescription{
    margin-top: 1rem;
}

.SocialImage{
    display: flex;
    color: white;
    height: 48px;
    width: 48px;
    margin-top: 1rem;
    margin-left: 0.75rem;
}
